@tailwind base;
@tailwind components;

@tailwind utilities;

.gallery{}
.gallery__image{}
.gallery__item{}
.gallery__item--hidden{}
.gallery__background{}
.gallery__background--image{}

default: {
    item: 'gallery__item',
    hidden: 'gallery__item--hidden',
    left_in: 'gallery__anim-left-in',
    left_out: 'gallery__anim-left-out',
    right_in: 'gallery__anim-right-in',
    right_out: 'gallery__anim-right-out',
  },